.img
{
    position: absolute;
    top:0px;
    left:0px;
}
.transrec
{
    position: absolute;
    top:50px;
    left:120px;
    border-radius: 50px;
    width:500px;
    height:650px;
    background-color:rgba(160, 151, 151, 0.365);
}
.registertxt p
{
    font-size: 30px;
    font-family:fantasy;
    font-style: normal;
    color:blanchedalmond;
    margin-top: 30px;   
}
.formreg 
{
    position: absolute;
    font-family:cursive;
    font-size: 100px;
    margin-left:10px;
    left:70px;
    margin-top:80px;
}
input{
    height:20px;
    width:250px;
    background-color:rgba(255, 248, 220, 0);
    margin-left:10px;
}
::placeholder
{
    font-size: 15px;
    font-family:cursive;
    color:rgba(245, 245, 220, 0.573);
}
.button1
{
    position: absolute;
    border-radius: 100px;
    background: #D9D9D9;
    width: 130px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 39px;
    color: #000000;
    left: 120px;
    margin-top: 15%;
    margin-left: -10%;
}